.Current_Projects
{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}


body
{
    background-color: color-mix(in hsl, rgb(236, 248, 177) 25%, rgb(145, 202, 246) 15%); 
}

.C_P
{
    display: block;
    text-align: center;
}


.Personal_Website, .SaaS, .AI
{
    flex: 40%;
    margin: 2%;
    width: 20%;
    vertical-align: top;
    
}