.Current_Projects
{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    padding: 4%;
}


body
{
    background-color: color-mix(in hsl, rgb(236, 248, 177) 25%, rgb(145, 202, 246) 15%); 
}

.C_P
{
    display: block;
    text-align: center;
}


.Personal_Website, .SaaS, .AI
{
    flex: 1;
    margin-left: 1%;
    
    
}


.Navigation_Buttons
{
    display: flex;
    justify-content: center;
}