.Header
{
    font-family:monospace, sans-serif;
    font-size: 47px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

body
{
    background-color: color-mix(in hsl, rgb(143, 241, 213) 25%, rgb(164, 234, 244) 15%);
}

.Navigation_Buttons
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.Institution_Name, .Bachelors, .Bachelors_summary, .Masters_title, .Masters_summary, .Certificates, .Certificate_name, .Certificate_summary, .Clubs_and_Contributions
{
    
    display: block;
    text-align: center;
}

/* Masters field */


.Masters_Description, .Bachelors_Description, .Certificate_description
{
    /* flexbox */
    display:flex;

    /* line course and skill at the tops --> vertical-aline top */
    align-items: flex-start;
    
    /* create 50px gap/space between courses and skills */
    gap: 50px;
}

.Masters_Courses, .Bachelors_Courses
{
    /* Skills = 400 px  and 50px gap then calculate the course width by ( width of device - 400 - 50); dynamic to different devices and limits hardcoding
            "felxibile given the remaining space"
    */
   flex: 1;
    
}

.Courses_highlights
{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: -10px;
}

.IS_name, .SS_name, .NS_name, .DA_name, .LB_name, .DS_name, .DB_name, .OS_name, .SE_name, .AT_name, .AD_name, .SP_name
{
    text-align: center;
}
.IS, .SS, .NS, .DA, .LB, .DS, .DB, .OS, .SE, .AT, .AD, .SP
{
    display: inline-block;

    /* take 45% of the parent box */
    width: 45%;

    /* install spacing between each course description 
        margin: 2% == 2% margin on all side : top, bottom, left, right
            But be careful how you calculate this: 
                45% + 2% + 45% + 2% = 94% < 100% --> good 
                45% + 5% + 45% + 5% = 100% --> bad, it will not fit in the parent box and will go to the next line

        ALSO, THIS IS ABOUT IF IT FITS IN THE SAME ROW: meaning that it width + margin should always be less  
        */
    margin:2%;
    vertical-align: top;
}



.Masters_Skills, .Bachelor_Skills
{
    /* flex = flexible to change according to available space 
            FLEXBOX PRINCIPLE: tries to make things fit so if there is not enough spaces, it will automatically change the width 
                flex-shrink: 0  --> prevents the shrinking. If it was 1, then you gave it permission to shrink 
    */
    flex-shrink: 0;
    width: 400px;

    /* to always have the skills be in the center of the box 
        -overrides the align-items: flex-start so that the skills appears in the middle (vertically) of it's parent box
    */
    align-self: center;
   
  
}

.SkillsList
{
    width: 200px;
    text-align: center;
}


/* certificates */

.Covered_topics
{
    display: inline-block;


    /* take 45% of the parent box */
    width: 100%;
    

    /* install spacing between each course description 
        margin: 2% == 2% margin on all side : top, bottom, left, right
            But be careful how you calculate this: 
                45% + 2% + 45% + 2% = 94% < 100% --> good 
                45% + 5% + 45% + 5% = 100% --> bad, it will not fit in the parent box and will go to the next line

        ALSO, THIS IS ABOUT IF IT FITS IN THE SAME ROW: meaning that it width + margin should always be less  
        */
    margin:2%;
    margin-left: 400px;
    vertical-align: top;
}

.Received_date
{
    /* flex = flexible to change according to available space 
            FLEXBOX PRINCIPLE: tries to make things fit so if there is not enough spaces, it will automatically change the width 
                flex-shrink: 0  --> prevents the shrinking. If it was 1, then you gave it permission to shrink 
    */
    flex-shrink: 0;
    width: 400px;

    /* to always have the skills be in the center of the box 
        -overrides the align-items: flex-start so that the skills appears in the middle (vertically) of it's parent box
    */
    align-self: center;
    margin-right: 100px;
   
  
}


/* clubs and organizations */
.Club_Description
{
    display: flex;
    align-items: center;
    gap: 50px;
}

.Clubs
{
    flex: 1;
}


.ACM, .Freshmen_Mentor_Program, .Undergraduate_Success_Program
{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 1%;
    vertical-align: top;
}

.Organization_Name
{
    margin-bottom: 0px;
}

.Role
{
    display: inline-block;
    vertical-align: top;
}