

.Past_Projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
  gap: 20px;
  vertical-align: top;
}

.VR_Game, .Johnny_English
{
    flex: 0.4;
    
}

.Navigation_Buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    /* width: 150px;

    position: fixed;
    top: 30px;
    right: 10px;
    height: 60px;
    background-color: white; */
    
}